<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>제품 상세 페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<body>
    <h1 th:text="${product.productName}"></h1>
    <img th:src="@{/${product.productImageUrl}(encode='UTF-8')}" alt="제품 이미지" />
    <p th:text="${product.description}"></p>
    <p>가격: <span th:text="${product.price}"></span></p>
    <form th:action="@{/commerce/purchase/{id}(id=${product.id})}" method="post">
        <input type="hidden" name="productId" th:value="${product.id}">
        <button type="button" id="kakaopay" onclick="handlePayment('kakaopay', 'card')">구매하기</button>
    </form>
</body>
<script th:inline="javascript">
    var product = [[${product}]];
    var impCode ="imp47537336";
    function handlePayment(pg, payMethod) {
        console.log("product",product);
        console.log("pg >>", pg);
        console.log("paymethod", payMethod);
        
        var order = {
            productId: product.id,
            amount: product.price,
        };

        IMP.init(impCode);
        IMP.request_pay({
            pg: pg,
            pay_method: payMethod,
            name: product.productName,
            amount: product.price,
            buyer_name: "주주",
            buyer_tel: '010-3030-3030'
        }, function (rsp){
            if(rsp.success){
                alert("결제성공!")
                console.log("rsp", rsp);
                $.ajax({
                    type: 'POST',
                    url: '/commerce/payment/confirmation/' + rsp.imp_uid
                }).done(function (data){
                    console.log(data);
                    if(product.price == data.response.amount){
                        order.payment_id = rsp.merchant_uid;
                        order.imp_uid = rsp.imp_uid;
                        order.status = "SUCCESS";
                        $.ajax({
                            url: "/commerce/payment/order",
                            method: 'post',
                            data: JSON.stringify(order),
                            contentType: "application/json"
                        }).then(function (response) {
                            // 서버에서 전달된 리다이렉트 URL로 이동
                            if (response.redirectUrl) {
                                window.location.href = response.redirectUrl;
                            } else {
                                alert("리다이렉션 URL이 제공되지 않았습니다.");
                            }
                        }).catch(function (err) {
                            console.error("에러 발생:", err);
                            alert("주문 처리 중 에러가 발생했습니다.");
                        });
                    }
                })
            } else {
                alert("결제 실패!")
            }
        })
    }
</script>

</html>